<div data-role="navbar" data-iconpos="top">
  <ul>
		<li style="display:;">
			<a href="#" id="historyback" data-theme="a" data-icon="arrow-l">
				Retour
			</a>
		</li>
  	<li id="tohome">
  		<a href="{{ path('mobile_home') }}" data-theme="a" data-icon="search" class="ui-btn-active ui-state-persist">Recherche</a>
  	</li>
  	<li id="tomatv">
  		<a href="{{ path('mobile_notifs') }}" data-theme="a" data-icon="star">Ma télé <span class="notifications"></span></a>
  	</li>
  </ul>
</div>