<div data-role="dialog" data-url="/demos/1.2.0/docs/pages/dialog.html" tabindex="0" class="ui-page ui-body-c ui-dialog ui-overlay-a ui-page-active" style="min-height: 684px;">
<div role="dialog" class="ui-dialog-contain ui-corner-all ui-overlay-shadow">
	
		<div data-role="header" data-theme="d" class="ui-corner-top ui-header ui-bar-d" role="banner"><a href="http://jquerymobile.com/demos/1.2.0/docs/pages/dialog.html#" data-icon="delete" data-iconpos="notext" class="ui-btn-left ui-btn ui-btn-up-d ui-shadow ui-btn-corner-all ui-btn-icon-notext" data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" data-theme="d" title="Close"><span class="ui-btn-inner ui-btn-corner-all"><span class="ui-btn-text">Close</span><span class="ui-icon ui-icon-delete ui-icon-shadow">&nbsp;</span></span></a>
			<h1 class="ui-title" role="heading" aria-level="1">{{ app.request.get('title') }}</h1>
		</div>
		<div data-role="content" data-theme="c" class="ui-corner-bottom ui-content ui-body-c" role="main">
			<h1>{{ app.request.get('title') }}</h1>
			<p>{{ app.request.get('msg') }}</p>    
			<a href="" data-role="button" data-rel="back" data-theme="c" data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" class="ui-btn ui-btn-up-c ui-shadow ui-btn-corner-all"><span class="ui-btn-inner ui-btn-corner-all"><span class="ui-btn-text">OK</span></span></a>    
		</div>
	</div>
	</div>

<div class="ui-loader ui-corner-all ui-body-a ui-loader-default"><span class="ui-icon ui-icon-loading"></span><h1>loading</h1></div>